In [13]:
import pandas as pd
import numpy as np
import os
import openpyxl

In [6]:
dirpath = r"..\Final_factor\area_First_dose"
arealist = []
for area in os.listdir(dirpath):
    areaname = area[:-4]
    arealist.append(areaname)

In [7]:
arealist=set(arealist)

{'Aberdeen City',
 'Aberdeenshire',
 'Adur',
 'Allerdale',
 'Amber Valley',
 'Angus',
 'Argyll and Bute',
 'Arun',
 'Ashfield',
 'Ashford',
 'Babergh',
 'Barking and Dagenham',
 'Barnet',
 'Barnsley',
 'Barrow-in-Furness',
 'Basildon',
 'Basingstoke and Deane',
 'Bassetlaw',
 'Bath and North East Somerset',
 'Bedford',
 'Bexley',
 'Birmingham',
 'Blackburn with Darwen',
 'Blackpool',
 'Bolsover',
 'Bolton',
 'Boston',
 'Bournemouth, Christchurch and Poole',
 'Bracknell Forest',
 'Bradford',
 'Braintree',
 'Breckland',
 'Brent',
 'Brentwood',
 'Brighton and Hove',
 'Bristol, City of',
 'Broadland',
 'Bromley',
 'Bromsgrove',
 'Broxbourne',
 'Broxtowe',
 'Burnley',
 'Bury',
 'Calderdale',
 'Cambridge',
 'Camden',
 'Cannock Chase',
 'Canterbury',
 'Carlisle',
 'Castle Point',
 'Central Bedfordshire',
 'Charnwood',
 'Chelmsford',
 'Cheltenham',
 'Cherwell',
 'Cheshire East',
 'Cheshire West and Chester',
 'Chesterfield',
 'Chichester',
 'Chorley',
 'City of Edinburgh',
 'Clackmannanshire',
 'Colchester',
 'Copeland',
 'Corby',
 'Cornwall',
 'Cotswold',
 'County Durham',
 'Coventry',
 'Craven',
 'Crawley',
 'Croydon',
 'Dacorum',
 'Darlington',
 'Daventry',
 'Derby',
 'Derbyshire Dales',
 'Doncaster',
 'Dorset',
 'Dover',
 'Dudley',
 'Dumfries and Galloway',
 'Dundee City',
 'Ealing',
 'East Ayrshire',
 'East Cambridgeshire',
 'East Devon',
 'East Dunbartonshire',
 'East Hampshire',
 'East Hertfordshire',
 'East Lindsey',
 'East Lothian',
 'East Northamptonshire',
 'East Renfrewshire',
 'East Riding of Yorkshire',
 'East Staffordshire',
 'East Suffolk',
 'Eastbourne',
 'Eastleigh',
 'Eden',
 'Elmbridge',
 'Enfield',
 'Epping Forest',
 'Epsom and Ewell',
 'Erewash',
 'Exeter',
 'Falkirk',
 'Fareham',
 'Fenland',
 'Fife',
 'Folkestone and Hythe',
 'Forest of Dean',
 'Fylde',
 'Gateshead',
 'Gedling',
 'Glasgow City',
 'Gloucester',
 'Gosport',
 'Gravesham',
 'Great Yarmouth',
 'Greenwich',
 'Guildford',
 'Hackney',
 'Halton',
 'Hambleton',
 'Hammersmith and Fulham',
 'Harborough',
 'Haringey',
 'Harlow',
 'Harrogate',
 'Harrow',
 'Hart',
 'Hartlepool',
 'Hastings',
 'Havant',
 'Havering',
 'Herefordshire, County of',
 'Hertsmere',
 'High Peak',
 'Highland',
 'Hillingdon',
 'Hinckley and Bosworth',
 'Horsham',
 'Hounslow',
 'Huntingdonshire',
 'Hyndburn',
 'Inverclyde',
 'Ipswich',
 'Isle of Wight',
 'Islington',
 'Kensington and Chelsea',
 'Kettering',
 "King's Lynn and West Norfolk",
 'Kingston upon Hull, City of',
 'Kingston upon Thames',
 'Kirklees',
 'Knowsley',
 'Lambeth',
 'Lancaster',
 'Leeds',
 'Leicester',
 'Lewes',
 'Lewisham',
 'Lichfield',
 'Lincoln',
 'Liverpool',
 'Luton',
 'Maidstone',
 'Maldon',
 'Malvern Hills',
 'Manchester',
 'Mansfield',
 'Medway',
 'Melton',
 'Mendip',
 'Merton',
 'Mid Devon',
 'Mid Suffolk',
 'Mid Sussex',
 'Middlesbrough',
 'Midlothian',
 'Milton Keynes',
 'Mole Valley',
 'Moray',
 'Na h-Eileanan Siar',
 'New Forest',
 'Newark and Sherwood',
 'Newcastle upon Tyne',
 'Newcastle-under-Lyme',
 'Newham',
 'North Ayrshire',
 'North Devon',
 'North East Derbyshire',
 'North East Lincolnshire',
 'North Hertfordshire',
 'North Kesteven',
 'North Lanarkshire',
 'North Lincolnshire',
 'North Norfolk',
 'North Somerset',
 'North Tyneside',
 'North Warwickshire',
 'North West Leicestershire',
 'Northampton',
 'Northumberland',
 'Norwich',
 'Nottingham',
 'Nuneaton and Bedworth',
 'Oadby and Wigston',
 'Oldham',
 'Orkney Islands',
 'Oxford',
 'Pendle',
 'Perth and Kinross',
 'Peterborough',
 'Plymouth',
 'Portsmouth',
 'Preston',
 'Reading',
 'Redbridge',
 'Redcar and Cleveland',
 'Redditch',
 'Reigate and Banstead',
 'Renfrewshire',
 'Ribble Valley',
 'Richmond upon Thames',
 'Rochdale',
 'Rochford',
 'Rossendale',
 'Rother',
 'Rotherham',
 'Rugby',
 'Runnymede',
 'Rushcliffe',
 'Rushmoor',
 'Rutland',
 'Ryedale',
 'Salford',
 'Sandwell',
 'Scarborough',
 'Scottish Borders',
 'Sedgemoor',
 'Sefton',
 'Selby',
 'Sevenoaks',
 'Sheffield',
 'Shetland Islands',
 'Shropshire',
 'Slough',
 'Solihull',
 'Somerset West and Taunton',
 'South Ayrshire',
 'South Cambridgeshire',
 'South Derbyshire',
 'South Gloucestershire',
 'South Hams',
 'South Holland',
 'South Kesteven',
 'South Lakeland',
 'South Lanarkshire',
 'South Norfolk',
 'South Northamptonshire',
 'South Oxfordshire',
 'South Ribble',
 'South Somerset',
 'South Staffordshire',
 'South Tyneside',
 'Southwark',
 'Spelthorne',
 'St Albans',
 'St. Helens',
 'Stafford',
 'Staffordshire Moorlands',
 'Stirling',
 'Stockport',
 'Stockton-on-Tees',
 'Stoke-on-Trent',
 'Stratford-on-Avon',
 'Stroud',
 'Sunderland',
 'Surrey Heath',
 'Sutton',
 'Swale',
 'Swindon',
 'Tameside',
 'Tamworth',
 'Tandridge',
 'Teignbridge',
 'Telford and Wrekin',
 'Tendring',
 'Test Valley',
 'Tewkesbury',
 'Thanet',
 'Three Rivers',
 'Torbay',
 'Torridge',
 'Tower Hamlets',
 'Trafford',
 'Tunbridge Wells',
 'Uttlesford',
 'Vale of White Horse',
 'Wakefield',
 'Walsall',
 'Waltham Forest',
 'Wandsworth',
 'Warrington',
 'Warwick',
 'Watford',
 'Waverley',
 'Wealden',
 'Wellingborough',
 'Welwyn Hatfield',
 'West Berkshire',
 'West Devon',
 'West Dunbartonshire',
 'West Lancashire',
 'West Lindsey',
 'West Lothian',
 'West Oxfordshire',
 'West Suffolk',
 'Westminster',
 'Wigan',
 'Wiltshire',
 'Winchester',
 'Windsor and Maidenhead',
 'Wirral',
 'Woking',
 'Wokingham',
 'Wolverhampton',
 'Worthing',
 'Wychavon',
 'Wyre',
 'Wyre Forest',
 'York'}

In [8]:
len(arealist)

334

In [54]:
areacode = pd.read_excel(r"../\Final_factor\areacode_selected.xlsx",usecols=["LAD20CD","LAD20NM"])
areacode

       LAD20CD       LAD20NM
0    E07000223          Adur
1    E07000026     Allerdale
2    E07000032  Amber Valley
3    E07000224          Arun
4    E07000170      Ashfield
..         ...           ...
287  E07000229      Worthing
288  E07000238      Wychavon
289  E07000128          Wyre
290  E07000239   Wyre Forest
291  E06000014          York

[292 rows x 2 columns]

In [46]:
doctordf = pd.read_csv(r"../Final_factor/doctor_per1000_295.csv")
doctordf

     Unnamed: 0    area label          area long label       area  doctors
0             0  Peterborough   Peterborough (Unitary)  E06000031    0.094
1             1          Adur          Adur (District)  E07000223    0.093
2             2     Allerdale     Allerdale (District)  E07000026    0.112
3             3  Amber Valley  Amber Valley (District)  E07000032    0.109
4             4          Arun          Arun (District)  E07000224    0.099
..          ...           ...                      ...        ...      ...
290         372      Worthing      Worthing (District)  E07000229    0.108
291         373      Wychavon      Wychavon (District)  E07000238    0.092
292         374          Wyre          Wyre (District)  E07000128    0.088
293         375   Wyre Forest   Wyre Forest (District)  E07000239    0.069
294         376          York           York (Unitary)  E06000014    0.076

[295 rows x 5 columns]

In [47]:
newdf = doctordf[doctordf["area"].isin(areacode["LAD20CD"])]
newdf

     Unnamed: 0    area label          area long label       area  doctors
0             0  Peterborough   Peterborough (Unitary)  E06000031    0.094
1             1          Adur          Adur (District)  E07000223    0.093
2             2     Allerdale     Allerdale (District)  E07000026    0.112
3             3  Amber Valley  Amber Valley (District)  E07000032    0.109
4             4          Arun          Arun (District)  E07000224    0.099
..          ...           ...                      ...        ...      ...
290         372      Worthing      Worthing (District)  E07000229    0.108
291         373      Wychavon      Wychavon (District)  E07000238    0.092
292         374          Wyre          Wyre (District)  E07000128    0.088
293         375   Wyre Forest   Wyre Forest (District)  E07000239    0.069
294         376          York           York (Unitary)  E06000014    0.076

[292 rows x 5 columns]

In [48]:
newdf.to_csv(r"../Final_factor/doctor_per1000_292.csv")

In [60]:
arealist = list(areacode["LAD20NM"])
arealist

['Adur',
 'Allerdale',
 'Amber Valley',
 'Arun',
 'Ashfield',
 'Ashford',
 'Babergh',
 'Barking and Dagenham',
 'Barnet',
 'Barnsley',
 'Barrow-in-Furness',
 'Basildon',
 'Basingstoke and Deane',
 'Bassetlaw',
 'Bath and North East Somerset',
 'Bedford',
 'Bexley',
 'Birmingham',
 'Blackburn with Darwen',
 'Blackpool',
 'Bolsover',
 'Bolton',
 'Boston',
 'Bournemouth, Christchurch and Poole',
 'Bracknell Forest',
 'Bradford',
 'Braintree',
 'Breckland',
 'Brent',
 'Brentwood',
 'Brighton and Hove',
 'Broadland',
 'Bromley',
 'Bromsgrove',
 'Broxbourne',
 'Broxtowe',
 'Burnley',
 'Bury',
 'Calderdale',
 'Cambridge',
 'Camden',
 'Cannock Chase',
 'Canterbury',
 'Carlisle',
 'Castle Point',
 'Central Bedfordshire',
 'Charnwood',
 'Chelmsford',
 'Cheltenham',
 'Cherwell',
 'Cheshire East',
 'Cheshire West and Chester',
 'Chesterfield',
 'Chichester',
 'Chorley',
 'Colchester',
 'Copeland',
 'Cornwall',
 'Cotswold',
 'County Durham',
 'Coventry',
 'Craven',
 'Crawley',
 'Croydon',
 'Dacorum',
 'Darlington',
 'Derby',
 'Derbyshire Dales',
 'Doncaster',
 'Dorset',
 'Dover',
 'Dudley',
 'Ealing',
 'East Cambridgeshire',
 'East Devon',
 'East Hampshire',
 'East Hertfordshire',
 'East Lindsey',
 'East Riding of Yorkshire',
 'East Staffordshire',
 'East Suffolk',
 'Eastbourne',
 'Eastleigh',
 'Eden',
 'Elmbridge',
 'Enfield',
 'Epping Forest',
 'Epsom and Ewell',
 'Erewash',
 'Exeter',
 'Fareham',
 'Fenland',
 'Folkestone and Hythe',
 'Forest of Dean',
 'Fylde',
 'Gateshead',
 'Gedling',
 'Gloucester',
 'Gosport',
 'Gravesham',
 'Great Yarmouth',
 'Greenwich',
 'Guildford',
 'Hackney',
 'Halton',
 'Hambleton',
 'Hammersmith and Fulham',
 'Harborough',
 'Haringey',
 'Harlow',
 'Harrogate',
 'Harrow',
 'Hart',
 'Hartlepool',
 'Hastings',
 'Havant',
 'Havering',
 'Hertsmere',
 'High Peak',
 'Hillingdon',
 'Hinckley and Bosworth',
 'Horsham',
 'Hounslow',
 'Huntingdonshire',
 'Hyndburn',
 'Ipswich',
 'Isle of Wight',
 'Islington',
 'Kensington and Chelsea',
 "King's Lynn and West Norfolk",
 'Kingston upon Thames',
 'Kirklees',
 'Knowsley',
 'Lambeth',
 'Lancaster',
 'Leeds',
 'Leicester',
 'Lewes',
 'Lewisham',
 'Lichfield',
 'Lincoln',
 'Liverpool',
 'Luton',
 'Maidstone',
 'Maldon',
 'Malvern Hills',
 'Manchester',
 'Mansfield',
 'Medway',
 'Melton',
 'Mendip',
 'Merton',
 'Mid Devon',
 'Mid Suffolk',
 'Mid Sussex',
 'Middlesbrough',
 'Milton Keynes',
 'Mole Valley',
 'New Forest',
 'Newark and Sherwood',
 'Newcastle upon Tyne',
 'Newcastle-under-Lyme',
 'Newham',
 'North Devon',
 'North East Derbyshire',
 'North East Lincolnshire',
 'North Hertfordshire',
 'North Kesteven',
 'North Lincolnshire',
 'North Norfolk',
 'North Somerset',
 'North Tyneside',
 'North Warwickshire',
 'North West Leicestershire',
 'Northumberland',
 'Norwich',
 'Nottingham',
 'Nuneaton and Bedworth',
 'Oadby and Wigston',
 'Oldham',
 'Oxford',
 'Pendle',
 'Peterborough',
 'Plymouth',
 'Portsmouth',
 'Preston',
 'Reading',
 'Redbridge',
 'Redcar and Cleveland',
 'Redditch',
 'Reigate and Banstead',
 'Ribble Valley',
 'Richmond upon Thames',
 'Rochdale',
 'Rochford',
 'Rossendale',
 'Rother',
 'Rotherham',
 'Rugby',
 'Runnymede',
 'Rushcliffe',
 'Rushmoor',
 'Rutland',
 'Ryedale',
 'Salford',
 'Sandwell',
 'Scarborough',
 'Sedgemoor',
 'Sefton',
 'Selby',
 'Sevenoaks',
 'Sheffield',
 'Shropshire',
 'Slough',
 'Solihull',
 'Somerset West and Taunton',
 'South Cambridgeshire',
 'South Derbyshire',
 'South Gloucestershire',
 'South Hams',
 'South Holland',
 'South Kesteven',
 'South Lakeland',
 'South Norfolk',
 'South Oxfordshire',
 'South Ribble',
 'South Somerset',
 'South Staffordshire',
 'South Tyneside',
 'Southwark',
 'Spelthorne',
 'St Albans',
 'St. Helens',
 'Stafford',
 'Staffordshire Moorlands',
 'Stockport',
 'Stockton-on-Tees',
 'Stoke-on-Trent',
 'Stratford-on-Avon',
 'Stroud',
 'Sunderland',
 'Surrey Heath',
 'Sutton',
 'Swale',
 'Swindon',
 'Tameside',
 'Tamworth',
 'Tandridge',
 'Teignbridge',
 'Telford and Wrekin',
 'Tendring',
 'Test Valley',
 'Tewkesbury',
 'Thanet',
 'Three Rivers',
 'Torbay',
 'Torridge',
 'Tower Hamlets',
 'Trafford',
 'Tunbridge Wells',
 'Uttlesford',
 'Vale of White Horse',
 'Wakefield',
 'Walsall',
 'Waltham Forest',
 'Wandsworth',
 'Warrington',
 'Warwick',
 'Watford',
 'Waverley',
 'Wealden',
 'Welwyn Hatfield',
 'West Berkshire',
 'West Devon',
 'West Lancashire',
 'West Lindsey',
 'West Oxfordshire',
 'West Suffolk',
 'Westminster',
 'Wigan',
 'Wiltshire',
 'Winchester',
 'Windsor and Maidenhead',
 'Wirral',
 'Woking',
 'Wokingham',
 'Wolverhampton',
 'Worthing',
 'Wychavon',
 'Wyre',
 'Wyre Forest',
 'York']

In [68]:
dirpath = r"..\Final_factor\weather_by_area"
i=0
for area in os.listdir(dirpath):
    pth = os.path.join(dirpath,area)
    areaname = area[:-4]
    if areaname not in arealist:
        print(areaname, i)
        os.remove(pth)
        i+=1

Aberdeen City 0
Aberdeenshire 1
Angus 2
Argyll And Bute 3
Barking And Dagenham 4
Barrow-In-Furness 5
Basingstoke And Deane 6
Bath And North East Somerset 7
Blackburn With Darwen 8
Bournemouth, Christchurch And Poole 9
Brighton And Hove 10
Bristol, City Of 11
Cheshire West And Chester 12
City Of Edinburgh 13
Clackmannanshire 14
Corby 15
Daventry 16
Dumfries And Galloway 17
Dundee City 18
East Ayrshire 19
East Dunbartonshire 20
East Lothian 21
East Northamptonshire 22
East Renfrewshire 23
East Riding Of Yorkshire 24
Epsom And Ewell 25
Falkirk 26
Fife 27
Folkestone And Hythe 28
Forest Of Dean 29
Glasgow City 30
Hammersmith And Fulham 31
Herefordshire, County Of 32
Highland 33
Hinckley And Bosworth 34
Inverclyde 35
Isle Of Wight 36
Kensington And Chelsea 37
Kettering 38
King'S Lynn And West Norfolk 39
Kingston Upon Hull, City Of 40
Kingston Upon Thames 41
Midlothian 42
Moray 43
Na H-Eileanan Siar 44
Newark And Sherwood 45
Newcastle Upon Tyne 46
Newcastle-Under-Lyme 47
North Ayrshire 48
North Lanarkshire 49
Northampton 50
Nuneaton And Bedworth 51
Oadby And Wigston 52
Orkney Islands 53
Perth And Kinross 54
Redcar And Cleveland 55
Reigate And Banstead 56
Renfrewshire 57
Richmond Upon Thames 58
Scottish Borders 59
Shetland Islands 60
Somerset West And Taunton 61
South Ayrshire 62
South Lanarkshire 63
South Northamptonshire 64
Stirling 65
Stockton-On-Tees 66
Stoke-On-Trent 67
Stratford-On-Avon 68
Telford And Wrekin 69
Vale Of White Horse 70
Wellingborough 71
West Dunbartonshire 72
West Lothian 73
Windsor And Maidenhead 74