In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv(r"../processed/adddata3.CSV",index_col="date",usecols=["date","pororig","poralp"])
df

            pororig  poralp
date
30/01/2020      1.0     0.0
31/01/2020      1.0     0.0
01/02/2020      1.0     0.0
02/02/2020      1.0     0.0
03/02/2020      1.0     0.0
...             ...     ...
NaN             NaN     NaN
NaN             NaN     NaN
NaN             NaN     NaN
NaN             NaN     NaN
NaN             NaN     NaN

[888 rows x 2 columns]

In [13]:
dtdf = pd.read_csv("../data/datecol.csv",index_col="date")
dtdf

Empty DataFrame
Columns: []
Index: [31/01/2021, 01/02/2021, 02/02/2021, 03/02/2021, 04/02/2021, 05/02/2021, 06/02/2021, 07/02/2021, 08/02/2021, 09/02/2021, 10/02/2021, 11/02/2021, 12/02/2021, 13/02/2021, 14/02/2021, 15/02/2021, 16/02/2021, 17/02/2021, 18/02/2021, 19/02/2021, 20/02/2021, 21/02/2021, 22/02/2021, 23/02/2021, 24/02/2021, 25/02/2021, 26/02/2021, 27/02/2021, 28/02/2021, 01/03/2021, 02/03/2021, 03/03/2021, 04/03/2021, 05/03/2021, 06/03/2021, 07/03/2021, 08/03/2021, 09/03/2021, 10/03/2021, 11/03/2021, 12/03/2021, 13/03/2021, 14/03/2021, 15/03/2021, 16/03/2021, 17/03/2021, 18/03/2021, 19/03/2021, 20/03/2021, 21/03/2021, 22/03/2021, 23/03/2021, 24/03/2021, 25/03/2021, 26/03/2021, 27/03/2021, 28/03/2021, 29/03/2021, 30/03/2021, 31/03/2021, 01/04/2021, 02/04/2021, 03/04/2021, 04/04/2021, 05/04/2021, 06/04/2021, 07/04/2021, 08/04/2021, 09/04/2021, 10/04/2021, 11/04/2021, 12/04/2021, 13/04/2021, 14/04/2021, 15/04/2021, 16/04/2021, 17/04/2021, 18/04/2021, 19/04/2021, 20/04/2021, 21/04/2021, 22/04/2021, 23/04/2021, 24/04/2021, 25/04/2021, 26/04/2021, 27/04/2021, 28/04/2021, 29/04/2021, 30/04/2021, 01/05/2021, 02/05/2021, 03/05/2021, 04/05/2021, 05/05/2021, 06/05/2021, 07/05/2021, 08/05/2021, 09/05/2021, 10/05/2021, ...]

[498 rows x 0 columns]

In [16]:
newdf = pd.merge(left=dtdf,right=df,on="date",how="left")
newdf

,Alpha,Beta,Delta,Eta,Gamma,Kappa,Theta,Zeta,Lambda,Mu,Omicron,Omicron - BA2,XE,Omicron - BA4,Omicron - BA5,Other
date,,,,,,,,,,,,,,,,
31/01/2021,0.95057,0.001359,0.0,0.001672,0.0,0.0,0.0,0.000105,0.0,0.0,0.0,0.000,0.0,0.00,0.000,0.045668
01/02/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
02/02/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
03/02/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
04/02/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
08/06/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09/06/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10/06/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11/06/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12/06/2022,0.00000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.375,0.0,0.25,0.375,0.000000

In [6]:
df.interpolate("linear",axis=0,inplace=True)
df

            pororig  poralp
date
30/01/2020      1.0     0.0
31/01/2020      1.0     0.0
01/02/2020      1.0     0.0
02/02/2020      1.0     0.0
03/02/2020      1.0     0.0
...             ...     ...
NaN             0.0     0.0
NaN             0.0     0.0
NaN             0.0     0.0
NaN             0.0     0.0
NaN             0.0     0.0

[888 rows x 2 columns]

In [11]:
df["Omicron-all"] = df["Omicron"]+df["Omicron - BA2"]+df["Omicron - BA4"]+df["Omicron - BA5"]

In [12]:
df

,Alpha,Beta,Delta,Eta,Gamma,Kappa,Theta,Zeta,Lambda,Mu,Omicron,Omicron - BA2,XE,Omicron - BA4,Omicron - BA5,Other,SARS-COV-2,Omicron-all
date,,,,,,,,,,,,,,,,,,
30/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.0,0.000000
31/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.0,0.000000
01/02/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.0,0.000000
02/02/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.0,0.000000
03/02/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
08/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000227,0.417755,0.00068,0.210957,0.367435,0.002947,0.0,0.996373
09/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000170,0.407066,0.00051,0.220717,0.369326,0.002210,0.0,0.997280
10/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000113,0.396377,0.00034,0.230478,0.371217,0.001473,0.0,0.998187
11/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000057,0.385689,0.00017,0.240239,0.373109,0.000737,0.0,0.999093
12/06/2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.375000,0.00000,0.250000,0.375000,0.000000,0.0,1.000000

In [14]:
df.to_csv("../processed/adddata3prop.csv")